In [13]:
import pandas as pd
data=pd.read_csv('Toyota.csv')
print(data)

        Price   Age      KM FuelType   HP  MetColor Automatic      CC  Doors  \
0      7450.0  65.0   82000   Petrol   86         1         0  1300.0      3
1         NaN  74.0     NaN   Petrol   ##         1         0     NaN      3
2      8950.0  80.0   64000      NaN  110         0      ####  1600.0  Three
3     11450.0  54.0     NaN   Petrol  NaN         0         0     NaN      5
4         NaN  42.0      ##   Petrol  110         1         0  1600.0    NaN
...       ...   ...     ...      ...  ...       ...       ...     ...    ...
1441   8750.0  68.0  101889   petrol  110         1         0  1600.0      5
1442   9950.0  62.0  109547   petrol  110         0         0  1600.0      5
1443   9250.0  80.0   44444   Petrol  110         1         0  1600.0      3
1444  12450.0  54.0   46230   Petrol  110         1         0  1600.0      3
1445   8500.0  77.0   62285   Petrol  110         1         0  1600.0      5

      Weight
0     1015.0
1     1050.0
2        NaN
3     1080.0
4     1040.0
...      ...
1441  1075.0
1442  1075.0
1443  1050.0
1444  1055.0
1445  1075.0

[1446 rows x 10 columns]

In [17]:
import pandas as pd
data=pd.read_csv("Toyota.csv",na_values=['##','####'])
data

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,7450.0,65.0,82000.0,Petrol,86.0,1,0,1300.0,3,1015.0
1,NaN,74.0,NaN,Petrol,NaN,1,0,NaN,3,1050.0
2,8950.0,80.0,64000.0,NaN,110.0,0,NaN,1600.0,Three,NaN
3,11450.0,54.0,NaN,Petrol,NaN,0,0,NaN,5,1080.0
4,NaN,42.0,NaN,Petrol,110.0,1,0,1600.0,NaN,1040.0
...,...,...,...,...,...,...,...,...,...,...
1441,8750.0,68.0,101889.0,petrol,110.0,1,0,1600.0,5,1075.0
1442,9950.0,62.0,109547.0,petrol,110.0,0,0,1600.0,5,1075.0
1443,9250.0,80.0,44444.0,Petrol,110.0,1,0,1600.0,3,1050.0
1444,12450.0,54.0,46230.0,Petrol,110.0,1,0,1600.0,3,1055.0
1445,8500.0,77.0,62285.0,Petrol,110.0,1,0,1600.0,5,1075.0

In [18]:
data.isnull().sum()

Price         9
Age           5
KM           10
FuelType      1
HP            3
MetColor      0
Automatic     1
CC            3
Doors         2
Weight        1
dtype: int64

In [19]:
data=data.apply(lambda x:x.fillna(x.mean()) if x.dtypes=='float'  else x.fillna(x.value_counts().index[0]))
data

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,7450.000000,65.0,82000.000000,Petrol,86.00000,1,0,1300.000000,3,1015.000000
1,10729.272095,74.0,68522.860028,Petrol,101.45045,1,0,1566.988912,3,1050.000000
2,8950.000000,80.0,64000.000000,Petrol,110.00000,0,0,1600.000000,Three,1072.402768
3,11450.000000,54.0,68522.860028,Petrol,101.45045,0,0,1566.988912,5,1080.000000
4,10729.272095,42.0,68522.860028,Petrol,110.00000,1,0,1600.000000,5,1040.000000
...,...,...,...,...,...,...,...,...,...,...
1441,8750.000000,68.0,101889.000000,petrol,110.00000,1,0,1600.000000,5,1075.000000
1442,9950.000000,62.0,109547.000000,petrol,110.00000,0,0,1600.000000,5,1075.000000
1443,9250.000000,80.0,44444.000000,Petrol,110.00000,1,0,1600.000000,3,1050.000000
1444,12450.000000,54.0,46230.000000,Petrol,110.00000,1,0,1600.000000,3,1055.000000
1445,8500.000000,77.0,62285.000000,Petrol,110.00000,1,0,1600.000000,5,1075.000000

In [20]:
data.shape

(1446, 10)

In [21]:
data.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [22]:
data.dtypes

Price        float64
Age          float64
KM           float64
FuelType      object
HP           float64
MetColor       int64
Automatic     object
CC           float64
Doors         object
Weight       float64
dtype: object

In [11]:
data.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [23]:
#separate features and labels from dataset
features=data.iloc[:,1:2].values
labels=data.iloc[:,0:1].values

In [24]:
data.corr()

             Price       Age        KM        HP  MetColor        CC    Weight
Price     1.000000 -0.875461 -0.569154  0.314993  0.109323  0.163238  0.579265
Age      -0.875461  1.000000  0.505317 -0.157985 -0.108639 -0.132723 -0.468747
KM       -0.569154  0.505317  1.000000 -0.333790 -0.082223  0.299544 -0.028827
HP        0.314993 -0.157985 -0.333790  1.000000  0.060751  0.046514  0.088021
MetColor  0.109323 -0.108639 -0.082223  0.060751  1.000000  0.035197  0.058173
CC        0.163238 -0.132723  0.299544  0.046514  0.035197  1.000000  0.652544
Weight    0.579265 -0.468747 -0.028827  0.088021  0.058173  0.652544  1.000000

In [27]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(features,labels)

LinearRegression()

In [28]:
print(regressor.coef_)
print(regressor.intercept_)

[[-170.57527578]]
[20274.26679426]

In [29]:
Price = regressor.coef_*1.75+regressor.intercept_
print(Price)

[[19975.76006165]]

In [30]:
import numpy as np
x=[1.75]
x=np.array(x)
x=x.reshape(1,1)
print(regressor.predict(x))

[[19975.76006165]]

In [31]:
print('Accuracy of train data:',regressor.score(features,labels))

Accuracy of train data: 0.766431770690173